<div>
    <h3>{{name}}</h3>
</div>
<div [hidden]="submitted">
    <h5>Add {{name}}</h5>
    <form (ngSubmit)="onSubmit()" #expenseForm="ngForm">
        {{diagnostic}}
        <div class="form-group">
            <label for="expenseDate">Date</label>
            <input type="text" class="form-control" id="expenseDate"
                   required
                   [(ngModel)]="model.expenseDate" name="expenseDate">
        </div>
        <!--<div class="form-group">
            <label for="categoryID">Category</label>
            <select class="form-control" id="categoryID"
                    required
                    [(ngModel)]="model.categoryID" name="categoryID">
                <option *ngFor="let category of categories" [value]="category.categoryID">{{category.categoryName}}</option>
            </select>
        </div>-->
        <div class="form-group">
            <label for="transactionType">Transaction Type</label>
            <input type="text" class="form-control" id="transactionType"
                   required
                   [(ngModel)]="model.transactionType" name="transactionType">
        </div>
        <div class="form-group">
            <label for="expenseAmount">Amount </label>
            <input type="text" class="form-control" id="expenseAmount"
                   required
                   [(ngModel)]="model.expenseAmount" name="expenseAmount">
        </div>

        <div class="form-group">
            <label for="expenseDesc">Description</label>
            <input type="text" class="form-control" id="expenseDesc"
                   [(ngModel)]="model.expenseDesc" name="expenseDesc">
        </div>
        <!--<div class="form-group">
            <label for="power">Hero Power</label>
            <select class="form-control" id="power"
                    required
                    [(ngModel)]="model.power" name="power">
                <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
        </div>-->
        <button type="submit" class="btn btn-success" [disabled]="!expenseForm.form.valid">Submit</button>
        <button type="button" class="btn btn-warning" (click)="close()">Close</button>
    </form>
</div>
<div>
    <button type="button" class="btn btn-default" [disabled]="!submitted" (click)="addNew()">Add new</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Type</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let expense of expenses">
                <td>{{expense.expenseID}}</td>
                <td>{{expense.expenseDate}}</td>
                <td>{{expense.expenseAmount}}</td>
                <td>{{expense.categoryName}}</td>
                <td>{{expense.transactionType}}</td>
                <td>{{expense.expenseDesc}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary" (click)="edit(expense.expenseID)">Edit</button> |
                    <button type="button" class="btn btn-sm btn-danger" (click)="remove(expense.expenseID)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>